# --- REQUIRED CONFIGURATION ITEMS ---
# general info, used for GISAID / ENA files
# format: (lastname, firstname, middle initial)
contact = ("Doe", "John", "M")
email = "johndoe@someuni.com"
phone = "8311230333"
# three letter code of country, used when generating ICTV isolate names, e.g. FRA
country = "USA" 
# full name of country, used for NCBI export, e.g. France
# see https://www.ncbi.nlm.nih.gov/genbank/collab/country/
ncbiCountry = "USA"
# alternative email address, only used for NCBI submissions and not required
# altEmail = "johndoe@gmail.com"

# only uncomment the following if you do not work with SARS-CoV-2 samples
#organism = "Influenza A virus"
#longOrg = "Influenza A virus" # for the Genbank title

affiliation = {
"affil" : "University of California, Santa Cruz",
"div" : "Genomics Institute",
"city" : "Santa Cruz",
"sub" : "CA",
"country" : "USA", 
"street" : "1156 High Street, MS Genomics Institute",
"postal-code" : "95064"
}

authors = [
    # format: (lastname, firstname, middle initial)
    ("Haussler","David", ""),
    ("Hinrichs", "Angie", ""),
]

# --- REQUIRED CONFIGURATION ENDS ---
# below you find configuration sections for each export database

# -- For NCBI Biosample submission ---
# create a default for the submitting institution from affil but you can also define it yourself here
collected_by = affiliation["affil"]+", "+affiliation["div"]
#collected_by = "UCSC Molecular Diagnostics Lab"

# A BioProject is an entry for your project, it has a title, authors, possibly papers.
# groups together all your submissions
# Instructions on how to create one are here: https://www.protocols.io/view/sars-cov-2-ncbi-submission-protocol-sra-biosample-bui7nuhn?step=3
# Create one here https://submit.ncbi.nlm.nih.gov/subs/bioproject/
# Bioproject is not mandatory
#bioproject_accession = "PRJNA745535"
# The mandatory attributes are listed here: https://www.ncbi.nlm.nih.gov/biosample/docs/packages/SARS-CoV-2.cl.1.0/
isolation_source = "missing"
# Note that isolation_source, just like bioproject_accession specified here, are just the default values.
# You can always define these values on a per-sample level in the input meta table

# ----- for GISAID csv and ENA ------
platform = "Illumina NextSeq 550"
host_common = "human" # common name of host, all lowercase

# --- For the GISAID csv file ---
gisaidUser =  "doej"
gisaidLocation =  "North America / USA / California / Santa Cruz"
gisaid_host =  host_common.capitalize()
gisaid_technology = platform
gisaid_assembly_method = ""

# --- For automated NCBI uploads via FTP --
ncbiUser = "MYPASS"
ncbiPass = "MYUSER"

# --- For ENA uploads via the API ---
# Go to https://www.ebi.ac.uk/ena/submit/sra/#home to create an account and enter below
enaUser = "Webin-123sd"
enaPass = "X234xcc"
# Create a study at https://www.ebi.ac.uk/ena/submit/sra/#newSubmission-studyChoice-start 
# and paste its identifier (PRJEBxxx) below
enaProj = "PRJEB12323"

# --- rarely used configuration items ---

# build GISAID submitter info strings from affiliation above
gisaid_orig_lab = affiliation["affil"]+ ", " +affiliation["div"]
gisaid_orig_lab_addr = affiliation["street"]+", "+affiliation["city"]+" "+affiliation["sub"]+ " "+affiliation["postal-code"] + ", " + affiliation["country"]

# build ENA submitter strings from general ones and affiliation
# see https://www.ebi.ac.uk/ena/browser/view/ERC000033
enaHost = host_common
enaPlatform = platform
enaCenter = affiliation["div"]+ ", " +affiliation["affil"]
enaCollector = contact[1]+" "+contact[0] # mandatory field, sigh
enaCollInst = enaCenter+", "+affiliation["street"]+", "+affiliation["city"]+" "+affiliation["sub"]+ " "+affiliation["postal-code"] + ", " + affiliation["country"]
enaCountry = affiliation["country"]
enaRegion = affiliation["city"]+", "+affiliation["sub"]

# you can rename fields from the input file to other field names
# list of valid source tags: https://www.ncbi.nlm.nih.gov/WebSub/html/help/genbank-source-table.html#modifiers
# metaFieldMap = {
#    "sampling_method" : "isolation_source"
#    }

# if you want to tweak the default submitter information template, create one
# here https://submit.ncbi.nlm.nih.gov/genbank/template/submission/, download
# the template.txt and provide its filename here.
# ncbiTemplateFile = "/cluster/home/max/template.txt"
